@use "../../styles/partials/colors";
@use "../../styles/partials/media";
@use "../../styles/partials/typography";

.dashboard {
	background-color: colors.$off-white;
	padding: 0 0 3rem;

	@include media.tablet {
		padding: 3rem 0 0;
	}

	&__outlet {
		padding: 1.25rem;
	}
}
