// Partials
@use "../../styles/partials/colors";
@use "../../styles/partials/media";
@use "../../styles/partials/typography";

.button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.75rem;

	height: 2.75rem;
	width: 100%;
	background-color: colors.$primary_color;
	border: 0px;
	border-radius: 8px;
	margin-top: 1rem;

	color: colors.$light_text;
	cursor: pointer;

	&:hover {
		background-color: colors.$primary_shade;
	}

	&__icon {
		height: 58%;
		position: absolute;
		left: 0.5rem;
	}

	&__text {
		@extend %mobile__subheader;
		letter-spacing: 0.032rem;

		@include media.tablet {
			@include typography.labels_buttons;
			padding-left: 0.5rem;
		}

		@include media.desktop {
			padding-top: 0.275rem;
		}
	}
}
