// Main color, shade, highlight:
$primary_color: #e65100;
$primary_shade: #a13800;
$primary_highlight: #ff9473;

// Secondary color, shade, highlight:
$secondary_color: #7cb342;
$secondary_shade: #567d2e;
$secondary_highlight: #96c267;

// Text light and dark:
$light_text: #fff;
$dark_text: #000000bd;

// Error:
$error_red: #d22d2d;
$error_dark: #931f1f;
$error_light: #db5757;

// Neutral colors:
$dark_grey: #393939;
$med_grey: #909090;
$light_grey: #e1e1e1;
$off-white: #fafafa;
