// Google fonts:
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

// Main font variable:
$main_font: "Roboto", Helvetica, sans-serif;

// MOBILE TYPOGRAPHY
// Some fonts commented out to track which have been used.

%mobile__page-header {
	font-family: $main_font;
	font-size: 2rem;
	font-weight: 700;
	line-height: 2rem;
}

%mobile__subheader {
	@extend %mobile__page-header;
	font-size: 0.9rem;
	font-weight: 500;
	line-height: 1.125rem;
}

%mobile__body-copy {
	@extend %mobile__subheader;
	font-weight: 400;
}

%mobile__labels-buttons {
	@extend %mobile__page-header;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1.25;
	letter-spacing: 0.032rem;
}

// STANDARD TYPOGRAPHY

// @mixin page_header {
// 	font-family: $main_font;
// 	font-size: 2.3rem;
// 	font-weight: 700;
// 	line-height: 2.75rem;
// }

// @mixin section_header {
// 	font-family: $main_font;
// 	font-size: 0.75rem;
// 	font-weight: 700;
// 	line-height: 1.25rem;
// }

@mixin subheader {
	font-family: $main_font;
	font-size: 0.95rem;
	font-weight: 500;
	line-height: 1.375rem;
}

// @mixin body_copy {
// 	font-family: $main_font;
// 	font-size: 0.9rem;
// 	font-weight: 400;
// 	line-height: 1.375rem;
// }

@mixin labels_buttons {
	font-family: $main_font;
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 1.25rem;
}
